<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="test">
        <classes>
<!--            <class name="testcases.DataDrivenTest">-->
<!--                <methods>-->
<!--                    <include name="testPostUser"/>-->
<!--                    <include name="testDeleteUserByName"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testcases.UserTest">-->

            <class name="testcases.UserTest2">
            </class>
        </classes>
    </test>
</suite>